<!doctype html>
<title>VA Circuit Court Statewide Search</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    .navbar { 
        border-radius: 0px;
    }
    
    h4 {
        margin-bottom: 30px;
    }
    
    .footer {
        margin-top: 50px;
    }
</style>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VA Circuit Court Statewide Search</a>
        </div>
    </div>
</nav>

<div class="container">
    <h4>
        An unofficial portal to enable statewide searches for the <a href="http://wasdmz2.courts.state.va.us/CJISWeb/circuit.jsp">Virginia Courts Case Information</a> website.
    </h4>
    
    <form id="searchForm" role="form" onSubmit="return onSubmit();">
        <div class="form-group">
            <label for="search">Search</label>
            <div class="input-group">
                <input type="text" class="form-control" id="search" placeholder="Name">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </form>
    <div class="row text-muted">
        <div class="col-xs-6 text-right">
            <div>Syntax: lastname, firstname </div>
            <div>Syntax: partial_lastname  </div>
        </div>
        <div class="col-xs-6 text-left">
            <div>Example: Smith, John </div>
            <div>Example: Smi</div>
        </div>
    </div>
    
    <div class="footer">
        <p class="pull-right">
            Built by <a href="http://code4hr.org">Code for Hampton Roads</a> | <a href="https://github.com/Code4HR/va-circuit-court-search"><i class="icon-github"></i> Pull requests welcome!</a>
        </p>
    </div>
</div>

<script>
    function onSubmit() {
        var search = document.getElementById("search").value;
        if(search != '') {
            location = "/search/" + search;
        }
        return false;
    }
    
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56808528-1', 'auto');
    ga('send', 'pageview');
</script>