<p>Dear (Clerk)
 
<p>I am exploring a number of issues about our courts and criminal justice system and would like access to and copies of the electronic documents that comprise the Circuit Court’s case management system. To be precise, these documents are the ones accessed when querying the Virginia Courts Case Information website (http://ewsocis1.courts.state.va.us/CJISWeb/MainMenu.do) and that display basic docket information including case number, defendant name, charge, filing date, offense date, arrest date and final disposition, as well as plaintiffs’ and attorneys’ name in civil cases.</p>
 
<p>The issues I believe the public has a right to know about extend beyond the information contained in the court system’s Caseload Statistical Reports or the annual reports of the Virginia Criminal Sentencing Commission. In order to report on them, it is necessary to have access to records in a manner other than simply downloading information case by case.</p>
 
<p>Examples of the questions that can be explored only by access to the record we seek include:</p>
<ul>
    <li>if there is any correlation between the race of defendants and the disposition of their cases</li>
    <li>the disposition of charges of sexual assault in different Circuit Courts</li>
    <li>differences in patterns of plea agreements, sentencing and dismissals/nolle-pros for different charges</li>
    <li>time gaps between offense date, arrest date and trial for varying offenses in different Circuit Courts</li>
    <li>whether legislator-lawyers have different rates of success in civil suits than do lawyers generally</li>
</ul>
 
<p>I believe the record I seek is subject to the Freedom of Information Act, because I cannot find any indication that the body of electronic records assembled in a case management system is the kind of record mentioned in Va. Code 2.2.3703.A.5. On the other hand, a database such as the one into which Circuit Court clerks input case information is a public record, as are electronic communications, such as additions to a database, as the definitions of public records in Va. Code 2.2-3701 makes clear. If there are exempt fields in the record, such as social security numbers, the Freedom of Information Act says that those can be excised without it being considered the creation of a new record. Even if one were to take the view that this database is a record covered by Va. Code 2.2-3703.A.5, such records are supposed to be open for inspection and available for copying under Va. Code 17.1-208.</p>
 
<p>I’d be happy to discuss this request with you at your convenience, to see how best to fulfill our mutual desire to keep the public informed about the workings of the justice system.</p>
 
<p>Sincerely,</p>

<p>(Your Name)</p>