<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search {{ data.name }}</title>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56808528-1', 'auto');
    ga('send', 'pageview');
</script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    .row { 
        padding: 5px;
    }
    
    .row:nth-child(even) {
        background: #eee;
    }
    
    .navbar { 
        border-radius: 0px;
    }

    .footer {
        margin-top: 50px;
    }
</style>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VA Circuit Court Statewide Search</a>
        </div>
    </div>
</nav>

<div class="container">
    {% for court in data.courts %}
        <h2>{{ court.court }}</h2>
        
        <h4>Criminal</h4>
        {% for case in court.criminalCases %}
            <div class="row">
                <div class="col-xs-6">
                    <div>{{ case.name }}</div>
                    <div class="text-muted"><small>{{ case.caseNumber }}</small></div>
                </div>
                <div class="col-xs-6 text-right">
                    <div>{{ case.charge }}</div>
                    <div class="text-muted"><small>{{ case.status }} ({{ case.date }})</small></div>
                </div>
            </div>
        {% endfor %}
        
        <h4>Civil</h4>
        {% for case in court.civilCases %}
            <div class="row">
                <div class="col-xs-6">
                    <div>{{ case.name }}</div>
                    <div class="text-muted"><small>{{ case.caseNumber }}</small></div>
                </div>
                <div class="col-xs-6 text-right">
                    <div>{{ case.otherName }}</div>
                    <div class="text-muted"><small>{{ case.status }}</small></div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div class="footer">
    <p class="pull-right">
        Built by <a href="http://code4hr.org">Code for Hampton Roads</a> | <a href="https://github.com/Code4HR/va-circuit-court-search"><i class="icon-github"></i> Pull requests welcome!</a>
    </p>
</div>
