<!doctype html>
<title>Search {{ data.name }}</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    .row { 
        padding: 5px;
    }
    
    .row:nth-child(even) {
        background: #eee;
    }
    
    .navbar { 
        border-radius: 0px;
    }
</style>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VA Circuit Court Statewide Search</a>
        </div>
    </div>
</nav>

<div class="container">
    {% for court in data.courts %}
        <h2>{{ court.court }}</h2>
        {% for case in court.cases %}
            <div class="row">
                <div class="col-xs-6">
                    <div>{{ case.name }}</div>
                    <div class="text-muted"><small>{{ case.caseNumber }}</small></div>
                </div>
                <div class="col-xs-6 text-right">
                    <div>{{ case.charge }}</div>
                    <div class="text-muted"><small>{{ case.status }} ({{ case.date }})</small></div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>