<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VA Circuit Court Stats</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <style>

        </style>
    </head>
    <body>
        <select id="category">
            <option value="Court">Court</option>
            <option value="Commencedby">Commenced by</option>
            <option value="Sex">Sex</option>
            <option value="Race">Race</option>
            <option value="Address">Address</option>
            <option value="Charge">Charge</option>
            <option value="ChargeType">Charge Type</option>
            <option value="DispositionCode">Disposition Code</option>
            <option value="ConcludedBy">Concluded By</option>
            <option value="AmendedCharge">Amended Charge</option>
            <option value="AmendedChargeType">Amended Charge Type</option>
            <option value="Jail/Penitentiary">Jail/Penitentiary</option>
            <option value="Concurrent/Consecutive">Concurrent/Consecutive</option>
            <option value="Life/Death">Life/Death</option>
            <option value="SentenceTime">Sentence Time</option>
            <option value="SentenceSuspended">Sentence Suspended</option>
            <option value="OperatorLicenseSuspensionTime">Operator License Suspension Time</option>
            <option value="FineAmount">Fine Amount</option>
            <option value="Costs">Costs</option>
            <option value="Fines/CostPaid">Fines/Cost Paid</option>
            <option value="ProgramType">Program Type</option>
            <option value="ProbationType">Probation Type</option>
            <option value="ProbationTime">Probation Time</option>
            <option value="ProbationStarts">Probation Starts</option>
            <option value="Court/DMVSurrender">Court/DMV Surrender</option>
            <option value="DriverImprovementClinic">Driver Improvement Clinic</option>
            <option value="DrivingRestrictions">Driving Restrictions</option>
            <option value="VAAlcoholSafetyAction">VA Alcohol Safety Action</option>
            <option value="RestitutionPaid">Restitution Paid</option>
            <option value="RestitutionAmount">Restitution Amount</option>
            <option value="Military">Military</option>
            <option value="TrafficFatality">Traffic Fatality</option>
        </select>
        <div id="category-graph"></div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            function createCategoryGraph() {
                var graphUrl = '/stats/graph?categories=' + $('#category').val();
                $.get(graphUrl, function(data){
                    $("#category-graph").html(data);
                });
            }
            
            $('#category').change(function(){
                createCategoryGraph();
            });
            
            $(function() {
                createCategoryGraph();
            });
        </script>
    </body>
</html>